#oficinas{
	
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 50%;
    color: black;
    background-color: rgba(255,255,255,0);
    
}

html {
    scroll-behavior: smooth;
}

body{
    background-image: url("../imagenes/grieta.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
img { 
    width: 15%;
    }
.titulo{
    font-family: "serif";
}
.parrafo{
    font-family: "Verdana";
}
@media (max-width: 576px) {
    body{
        background-color: rgb(255, 255, 255);
        background-image: none;
        
}
#jugar{
	background-color: rgb(27, 189, 6);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50%;
    text-align: center;
}

}