img { 
    width: 15%;
    }
    body{
        background-color: rgb(2, 2, 2);
    }
    .card{
        margin-top: 1%;
        color: rgb(251, 251, 251);
        background-size: 100%;
        font: 120% sans-serif;
        padding: 30PX;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #jugar{
        background-color: rgb(221, 212, 212);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 50%;
        text-align: center;
    }
    