#producto_Thresh{
	
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 50%;
    color: black;
    
}
#producto_Yasuo{
	
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 50%;
    color: black;
    
}
#producto_Kata{
	
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 50%;
    color: black;
}

#producto_Mapas{
	
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 50%;
    color: black;
    
}

#producto_Mapas2{
	
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 50%;
    color: black;
    
}

#jugar{
	
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 50%;
}

html {
    scroll-behavior: smooth;
}

body{
    background-image: url("../imagenes/paisajeProductos.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
img { 
    width: 15%;
    }

.tituloMarron{
    font-family: "serif";
    color: blanchedalmond;
}

.titulo{
    font-family: "serif";
}
.parrafo{
    font-family: "Verdana";
}

@media (max-width: 576px) {
    #jugar{
        width: 70%;
        height: 50%;
    text-align: center;
}
 
#boton{
	background-color: rgb(27, 189, 6);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50%;
    text-align: center;
}

}
