#riot{
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 50%;
    
}

body{
    background-image: url("../imagenes/fondo.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
img { 
    width: 15%;
    }

.rioters{
    font-size: 6em;
    color: rgb(255, 255, 255);
    font-family: "serif";
    
}
.carta{
    background-color: rgba(0, 0, 0, 0.4);
    border: 0px;
    color: rgb(255, 255, 255);      
}

.cartaTitulo{
    background-color: rgba(255,255,255,0    );
    border: 0px;
    color: rgb(255, 255, 255);      
}

.titulo{
    font-family: "serif";
}
.parrafo{
    font-family: "Verdana";
}

@media (max-width: 576px) {
    body{
        background-color: black;
        background-image: none;
        
}
}
@media (max-width: 576px) {
    .rioters{
        text-align: center;

}
#jugar{
	background-color: rgb(27, 189, 6);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50%;
    text-align: center;
}

}
