<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>vocalescontadas.jsp</display-name>
	<display-name>Práctica 6 - Despliegue de Aplicaciones Web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ContadorVocales</servlet-name>
		<servlet-class>es.studium.dawpr6.ContadorVocales</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContadorVocales</servlet-name>
		<url-pattern>/contadorvocales</url-pattern>

	</servlet-mapping>

</web-app>
